<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>angular-surveys demo</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../dist/form-builder-material.min.css">
    <link rel="stylesheet" href="../dist/form-viewer-material.min.css">
    <link rel="stylesheet" href="demo.css">
    <script type="text/javascript">
        //hack to remove ARIA warinings
        console.realWarn = console.warn;
        console.warn = function (message) {
            if (message.indexOf("ARIA") == -1) {
                console.realWarn.apply(console, arguments);
            }
        };
    </script>
</head>

<body ng-controller="DemoController as ctrl" ng-cloak layout="column" ng-init="ctrl.selectedTabIndex = 3">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

            <md-content layout-padding="" layout="column" layout-align="center center" ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                    Close Sidenav Left
                </md-button>
                <md-button class="md-primary" aria-label="Builder" ng-click="ctrl.selectedTabIndex = 3">
                    Main
                </md-button>
                <md-button class="md-primary" aria-label="Builder" ng-click="ctrl.selectedTabIndex = 0">
                    Builder
                </md-button>
                <md-button class="md-primary" aria-label="Builder" ng-click="ctrl.selectedTabIndex = 1">
                    View
                </md-button>
            </md-content>

        </md-sidenav>

        <md-content layout="column" flex="" class="tab-content" layout-padding="" ng-if="ctrl.selectedTabIndex===3">

            <div layout="column" style="height:100vh" layout-align="center center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>
                <p>
                    The right sidenav will focus on a specific child element.
                </p>

                <div>
                    <md-button ng-click="ctrl.toggleLeft()" class="md-primary">
                        Toggle left
                    </md-button>
                </div>

                <div>
                    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                        Toggle right
                    </md-button>
                </div>
            </div>

        </md-content>

        <md-content class="md-padding tab-content" flex ng-if="ctrl.selectedTabIndex===0">
            <div layout="column" layout-align="center">
                <div flex-gt-sm="66" flex-sm="90">
                    <div layout="row" layout-align="center">
                        <div>
                            <md-button class="md-primary" aria-label="Reset" ng-click="ctrl.resetBuilder()">
                                Reset
                            </md-button>
                            <md-checkbox ng-model="ctrl.builderReadOnly" aria-label="Read only">
                                Read only
                            </md-checkbox>
                        </div>
                    </div>

                    <mw-form-builder api="ctrl.formBuilder" options="ctrl.optionsBuilder" form-data="ctrl.formData" form-status="ctrl.formStatus"
                        read-only="ctrl.builderReadOnly" on-image-selection="ctrl.onImageSelection()"></mw-form-builder>
                </div>

            </div>
        </md-content>

        <md-content flex class="md-padding tab-content" ng-if="ctrl.selectedTabIndex===1">
            <div layout="row" layout-align="center">
                <div flex-gt-sm="66" flex-sm="90">
                    <div layout="row" layout-align="center">
                        <div>
                            <md-button class="md-primary" aria-label="Reset" ng-click="ctrl.resetViewer()">
                                Reset
                            </md-button>
                            <md-checkbox ng-model="ctrl.formOptions.autoStart" aria-label="Autostart">
                                Autostart
                            </md-checkbox>
                            <md-checkbox ng-model="ctrl.viewerReadOnly" aria-label="Read only">
                                Read only
                            </md-checkbox>
                        </div>
                    </div>

                    <mw-form-viewer form-data="ctrl.formData" template-data="ctrl.templateData" form-status="ctrl.formStatus" options="ctrl.formOptions"
                        api="ctrl.formViewer" response-data="ctrl.responseData" read-only="ctrl.viewerReadOnly" on-submit="ctrl.saveResponse()"></mw-form-viewer>
                    <br/>
                    <hr/>
                    <br/>
                    <md-checkbox ng-model="ctrl.showResponseData" aria-label="Show response data">
                        Show response data
                    </md-checkbox>
                    <md-card ng-if="ctrl.showResponseData" class="md-padding">
                        <pre>
{{ctrl.responseData|json}}
                            </pre>
                    </md-card>
                </div>

            </div>

        </md-content>
    </section>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="../bower_components/angular-elastic/elastic.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/Sortable/Sortable.min.js"></script>
    <script src="../bower_components/Sortable/ng-sortable.js"></script>
    <script src="../dist/form-utils.min.js"></script>
    <script src="../dist/form-builder.min.js"></script>
    <script src="../dist/form-builder-material-tpls.min.js"></script>
    <script src="../dist/form-viewer.min.js"></script>
    <script src="../dist/form-viewer-material-tpls.min.js"></script>

    <script src="demo.js"></script>


</body>

</html>